/* Seu arquivo CSS personalizado */
.custom-image {
  width: 100%; /* Para ocupar toda a largura da tela */
  height: auto; /* Para manter a proporção original da imagem */
  max-height: 500px; /* Defina a altura máxima desejada (ajuste conforme necessário) */
}



